<div class="container-fluid py-5 my-5">
    <div class="container d-flex py-5 my-5">
        <div class="container row py-5 my-5">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="144" height="144" viewBox="0 0 48 48">
                <linearGradient id="IMoH7gpu5un5Dx2vID39Ra_pIPl8tqh3igN_gr1" x1="9.858" x2="38.142" y1="9.858"
                    y2="38.142" gradientUnits="userSpaceOnUse">
                    <stop offset="0" stop-color="#9dffce"></stop>
                    <stop offset="1" stop-color="#50d18d"></stop>
                </linearGradient>
                <path fill="url(#IMoH7gpu5un5Dx2vID39Ra_pIPl8tqh3igN_gr1)"
                    d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"></path>
                <linearGradient id="IMoH7gpu5un5Dx2vID39Rb_pIPl8tqh3igN_gr2" x1="13" x2="36" y1="24.793" y2="24.793"
                    gradientUnits="userSpaceOnUse">
                    <stop offset=".824" stop-color="#135d36"></stop>
                    <stop offset=".931" stop-color="#125933"></stop>
                    <stop offset="1" stop-color="#11522f"></stop>
                </linearGradient>
                <path fill="url(#IMoH7gpu5un5Dx2vID39Rb_pIPl8tqh3igN_gr2)"
                    d="M21.293,32.707l-8-8c-0.391-0.391-0.391-1.024,0-1.414l1.414-1.414	c0.391-0.391,1.024-0.391,1.414,0L22,27.758l10.879-10.879c0.391-0.391,1.024-0.391,1.414,0l1.414,1.414	c0.391,0.391,0.391,1.024,0,1.414l-13,13C22.317,33.098,21.683,33.098,21.293,32.707z">
                </path>
            </svg>
        </div>
        <div class="container row align-items-center py-5 my-5">
            <h1>Payment was successful</h1>
            <div class="fs-5 mb-3">Use this consignment ID: <span class="fw-bold">{{payment.bookingId}}</span> to track your Shipment.</div>
            <a routerLink="/tracking">Track your consignment here <i class="bi bi-arrow-up-right"></i></a>
            <a routerLink="">Go to Home page <i class="bi bi-arrow-up-right"></i></a>
        </div>
    </div>
</div>