.stripe {
    background: -webkit-linear-gradient(90deg, rgba(8, 224, 190, 1) 20%, rgba(150, 0, 255, 1) 53%, rgba(0, 212, 255, 1) 83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}