<div class="container text-center py-5">
    <h1 class="py-5">Welcome to Courier</h1>
    <div class="d-flex justify-content-around py-5">
        <div class="card" style="width: 18rem;">
            <img src="../assets/img/booking.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Book Your Shipment</h5>
                <p class="card-text">Request a pickup and we'll be at your doorstep shortly.
                </p>
                <a class="btn btn-primary" routerLink="/booking/pincode">Book Now</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../assets/img/tracking.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Track Your Shipment</h5>
                <p class="card-text">Click to know where your parcel has reached.
                </p>
                <a class="btn btn-primary" routerLink="/tracking">Track a Shipment</a>
            </div>
        </div>
    </div>
</div>